@model KhumaloCraft2.Models.Category

@{
    ViewData["Title"] = "Category Create";
}

<div class="text-center">
    <h1>Create Category</h1>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CatName" class="control-label">Category Name</label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
